body.section_works
    nav[role="navigation"]
        width: 20%
        transform: translate3d(-250%, 0, 0)
    div[role="main"]
        width: 80%
        transform: translate3d(25%, 0, 0)

    section.works
        @include section_show()